$main-color: #ff5353;
$grey-color: #888888;
$bg-1: #eae2d8;
$font-main: 'Roboto', sans-serif;
$font-second: 'Dancing Script', cursive;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: $font-main;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;

    h1 {
        font-size: 3rem;
        padding: 20px 0;

        span {
            color: $main-color;
            font-size: 5rem;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            a {
                color: black;
                font-size: 1.3rem;
                font-weight: 600;
                padding: 35px 15px;
                transition: all .3s ease-in-out;
            }
        }
    }

    .icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        p {
            span {
                background-color: $main-color;
                padding: 3px;
                font-size: .8rem;
                border-radius: 50%;
                color: #fff;
                position: relative;
                top: -13px;
                left: -22px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            a {
                color: black;
                font-size: 2rem;
                font-weight: 500;
                padding: 10px 15px;
                transition: all .3s ease-in-out;

                .one {
                    transition-delay: .2s;
                }

                .two {
                    transition-delay: .3s;
                }
            }
        }

        button {
            display: none;
        }
    }

    .icon a:hover,
    ul li a:hover {
        color: $main-color;
        transition: all .3s ease-in-out;
    }
}

.banner {
    background-image: url(../img/bg-1.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;

    .banner-text {
        width: 50%;
        text-align: center;
        position: relative;
        left: 150px;

        span {
            font-size: 1.3rem;
            line-height: 20px;
            font-weight: 500;
            letter-spacing: 2.8px;
            color: #565656;
        }

        h1 {
            font-size: 5.8rem;
            padding: 0 6%;
            line-height: 70px;
            font-weight: 500;
            margin: 35px 0;
        }

        a {
            background-color: $main-color;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 15px 50px;
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }

        a:hover {
            background-color: #fff;
            color: black;
            transition: all .3s ease-in-out;
        }
    }

    .banner-img {
        width: 50%;

        img {
            width: 95%;
            height: 100%;
        }
    }
}

.products {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        padding: 40px 0;
    }

    .product-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 30%;
            padding: 30px 0;

            .card-img {
                img {
                    width: 100%;
                }

                a {
                    opacity: 0;
                    position: relative;
                    transition: all .2s ease-in-out;
                    top: -85px;
                    color: black;
                    font-size: 1.6rem;
                    padding: 15px;
                    width: 10px;
                    margin: 0px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                a:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: all .2s ease-in-out;
                }

                a:nth-child(2) {
                    transition-delay: 0.06s;
                }

                a:nth-child(3) {
                    transition-delay: 0.12s;
                }
            }

            p {
                padding: 5px 0;

                a {
                    font-size: 1.5rem;
                    color: $grey-color;
                }
            }

            .star {
                color: $main-color;
                font-size: 1.3rem;
            }

            h1 {
                font-size: 2rem;
                padding: 10px;
            }
        }

        .card:hover a {
            opacity: 1;
            top: -95px;
        }
    }
}

.second-banner {
    width: 100%;
    background-color: $bg-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .text {
        width: 50%;
        text-align: center;
        position: relative;
        left: 100px;

        span {
            font-size: 5rem;
            font-weight: 700;
            font-family: $font-second;
            letter-spacing: 2.8px;
        }

        h1 {
            font-size: 2.5rem;
            line-height: 70px;
            font-weight: 300;
            margin: 35px 0;
        }

        a {
            background-color: $main-color;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 15px 50px;
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }

        a:hover {
            background-color: #fff;
            color: black;
            transition: all .3s ease-in-out;
        }
    }


    .banner-img {
        width: 50%;

        img {
            width: 95%;
            position: relative;
            top: 3px;
        }
    }
}

.most-populer {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    h1 {
        font-size: 3.5rem;
        padding: 40px 0;
    }

    .populer-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 23%;
            padding: 30px 0;

            .card-img {
                img {
                    width: 100%;
                }

                a {
                    opacity: 0;
                    position: relative;
                    transition: all .2s ease-in-out;
                    top: -85px;
                    color: black;
                    font-size: 1.6rem;
                    padding: 15px;
                    width: 10px;
                    margin: 0px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                a:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: all .2s ease-in-out;
                }

                a:nth-child(2) {
                    transition-delay: 0.06s;
                }

                a:nth-child(3) {
                    transition-delay: 0.12s;
                }
            }

            p {
                padding: 5px 0;

                a {
                    font-size: 1.5rem;
                    color: $grey-color;
                }
            }

            .star {
                color: $main-color;
                font-size: 1.3rem;
            }

            h1 {
                font-size: 2rem;
                padding: 10px;
            }
        }

        .card:hover a {
            opacity: 1;
            top: -95px;
        }
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .small-card {
            width: 23%;
            border: 2px solid rgba(195, 195, 195, 0.452);
            padding: 25px;
            transition: all .2s ease-in-out;


            h1 {
                font-size: 1.5rem;
                padding: 20px 0;
            }

            p {
                font-size: 1.3rem;
                font-weight: 500;
                color: $grey-color;
            }
        }

        .small-card:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: all .2s ease-in-out;
        }
    }

}

.tranding-products {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    h1 {
        font-size: 3.5rem;
        padding: 40px 0;
    }

    .first {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 23%;
            padding: 30px 0;

            .card-img {
                img {
                    width: 100%;
                }

                a {
                    opacity: 0;
                    position: relative;
                    transition: all .2s ease-in-out;
                    top: -85px;
                    color: black;
                    font-size: 1.6rem;
                    padding: 15px;
                    width: 10px;
                    margin: 0px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                a:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: all .2s ease-in-out;
                }

                a:nth-child(2) {
                    transition-delay: 0.06s;
                }

                a:nth-child(3) {
                    transition-delay: 0.12s;
                }
            }

            p {
                padding: 5px 0;

                a {
                    font-size: 1.5rem;
                    color: $grey-color;
                }
            }

            .star {
                color: $main-color;
                font-size: 1.3rem;
            }

            h1 {
                font-size: 2rem;
                padding: 10px;
            }
        }

        .card:hover a {
            opacity: 1;
            top: -95px;
        }
    }
}

.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        width: 23%;
        padding: 30px 0;

        .card-img {
            img {
                width: 100%;
            }

            a {
                opacity: 0;
                position: relative;
                transition: all .2s ease-in-out;
                top: -85px;
                color: black;
                font-size: 1.6rem;
                padding: 15px;
                width: 10px;
                margin: 0px;
                background-color: #fff;
                border-radius: 50%;
            }

            a:hover {
                background-color: $main-color;
                color: #fff;
                transition: all .2s ease-in-out;
            }

            a:nth-child(2) {
                transition-delay: 0.06s;
            }

            a:nth-child(3) {
                transition-delay: 0.12s;
            }
        }

        p {
            padding: 5px 0;

            a {
                font-size: 1.5rem;
                color: $grey-color;
            }
        }

        .star {
            color: $main-color;
            font-size: 1.3rem;
        }

        h1 {
            font-size: 2rem;
            padding: 10px;
        }
    }

    .card:hover a {
        opacity: 1;
        top: -95px;
    }
}


.journal-section {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;

    h1 {
        font-size: 3.5rem;
        padding: 40px 0;
    }

    .journal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 30%;

            img {
                width: 100%;
            }

            .content {
                text-align: left;
                padding: 30px 0;

                a {
                    span {
                        color: $grey-color;
                        padding: 10px 0;
                        margin-left: 20px;
                        font-size: 1.3rem;
                        transition: all .3s ease-in-out;

                    }

                    span::before {
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 6px;
                        background-color: $main-color;
                        margin-top: 5px;
                        margin-left: -20px;
                        border-radius: 2px;
                    }

                    span:hover {
                        color: $main-color;
                        transition: all .3s ease-in-out;
                    }
                }

                h1 {
                    font-size: 2rem;
                    color: black;
                    padding: 15px 0;
                    line-height: 30px;
                    border-bottom: 1px solid $grey-color;
                }

                h1:hover {
                    color: $main-color;
                    transition: all .3s ease-in-out;
                }

                a {
                    p {
                        color: $grey-color;
                        display: inline;
                        font-size: 1.4rem;
                        position: relative;
                        top: 15px;
                        padding: 10px 25px 15px 0;

                        i {
                            padding-right: 10px;
                        }
                    }

                    p:hover {
                        color: $main-color;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}

.followers-section {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;

    h1 {
        font-size: 3.5rem;
        padding: 40px 0;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 23%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            span {
                display: flex;
                flex-wrap: wrap;
                color: #fff;
                font-size: 4rem;
                justify-content: center;
                opacity: 0;
                position: absolute;
                top: 0%;
                width: 100%;
                height: 100%;
                align-items: center;
                background-color: #ff5353bf;
                transition: all .2s ease-in-out;
                transform: translatey(10%);
            }

        }

        .card:hover span {
            opacity: 1;
            transition: all .2s ease-in-out;
            transform: translatey(0);
        }
    }
}



footer {
    width: 100%;
    background-color: #eae2d8;
    text-align: center;

    .four-section {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 0;
        border-bottom: 1px solid #b4b4b44d;

        .list {
            width: 24%;

            h1 {
                text-align: left;
                font-size: 1.5rem;
                padding: 40px 0;
            }

            p {
                text-align: left;
                padding: 0;
                color: none;

                a {
                    color: $grey-color;
                    font-size: 1.5rem;
                    line-height: 30px;
                    transition: all .3s ease-in-out;
                }

                a:hover {
                    color: $main-color;
                    transition: all .3s ease-in-out;
                }
            }

            .app {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 1px solid #b4b4b44d;
                padding-bottom: 30px;

                .android {
                    width: 49%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: #fff;
                    padding: 7px;
                    border-radius: 5px;
                    transition: all .3s ease-in-out;

                    .fa {
                        font-size: 2rem;
                        color: $main-color;
                        transition: all .3s ease-in-out;
                    }

                    p {
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: black;
                        transition: all .3s ease-in-out;

                        span {
                            font-weight: 400;
                            font-size: 1rem;
                            color: black;
                            transition: all .3s ease-in-out;
                        }
                    }
                }

                .android:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: all .3s ease-in-out;

                    .fa {
                        color: #fff;
                        transition: all .3s ease-in-out;
                    }

                    p {
                        color: #fff;
                        transition: all .3s ease-in-out;

                        span {
                            transition: all .3s ease-in-out;
                            color: #fff;
                        }

                    }
                }

                .apple {
                    width: 49%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: $main-color;
                    color: #fff;
                    padding: 7px;
                    border-radius: 5px;

                    .fa {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #fff;

                        span {
                            font-weight: 400;
                            font-size: 1rem;
                            color: #fff;
                        }
                    }
                }

            }

            .social {
                text-align: left;

                h1 {
                    padding: 15px 0;
                }

                a {
                    background-color: #fff;
                    color: black;
                    font-size: 2rem;
                    display: inline-block;
                    width: 13%;
                    padding: 7px 0;
                    text-align: center;
                    margin: 20px 5px;
                    transition: all .3s ease-in-out;
                }

                a:hover {
                    color: #fff;
                    background-color: $main-color;
                    transition: all .3s ease-in-out;
                }
            }
        }

    }

    p {
        color: $grey-color;
        font-size: 1.5rem;
        padding: 20px 0;

        span {
            font-size: 1.5rem;
            color: $main-color;
        }
    }
}


@media only screen and (max-width:1060px) {
    nav {
        h1 {
            padding: 20px;
        }

        ul {
            display: none;
            position: absolute;
            top: 85%;
            right: 0;
            background-color: #fff;
            width: 100%;
            height: 40vh;
            z-index: 1;

            li {
                padding: 15px 10px;

                a {
                    padding: 0;
                }
            }
        }

        .icon {

            button {
                display: block;
                // position: absolute;
                // right: 20px;
                // top: 20px;
                border: none;
                background: none;
                outline: none;
                z-index: 2;

                .fa {
                    font-size: 2.5rem;
                }

                .fa-times {
                    display: none;

                    ul {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding-top: 65px;
                        background-color: #ffe8e5;
                        width: 32%;
                        height: 35vh;
                        z-index: 1;

                        li {
                            padding: 10px 0;
                        }
                    }

                    button {
                        display: block;
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        border: none;
                        background: none;
                        outline: none;
                        z-index: 2;

                        .fa {
                            font-size: 2.5rem;

                        }

                        .fa-times {
                            display: none;
                        }
                    }
                }
            }
        }

    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;

        .banner-text {
            width: 100%;
            margin-bottom: 50px;
            margin-top: 10px;
            top: 0;
            left: 0;

            h1 {
                font-size: 4rem;
                padding: 0 10%;
                line-height: normal;
                margin: 25px 0;
            }
        }

        .banner-img {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }

    .products {
        .product-img {
            justify-content: space-around;
        }
    }

    .second-banner {
        flex-direction: column-reverse;
        align-items: center;

        .text {
            width: 100%;
            margin-bottom: 50px;
            margin-top:10px ;
            top: 0;
            left: 0;

            h1 {
                padding: 0 10%;
                line-height: normal;
                margin: 25px 0;
            }
        }

        .banner-img {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }
    .products{
        h1{
            font-size: 3rem;
        }
    }

    .most-populer {
        h1{
            font-size: 3rem;
        }
        .populer-section {
            justify-content: space-around;
        }

        .about {
            justify-content: space-around;
        }
    }

    .tranding-products {
        h1{
            font-size: 3rem;
        }
        .first {
            justify-content: space-around;
        }

        .second {
            justify-content: space-around;
        }
    }

    .journal-section {
        h1{
            font-size: 3rem;
        }
        .journal {
            justify-content: space-around;
        }
    }
    .followers-section{
        h1{
            font-size: 3rem;
        }
        .wrapper{
            justify-content: space-around;
        }
    }
    footer{
        .four-section{
            justify-content: space-around;
            .list{
                width: 30%;
            }
        }
    }
}
@media only screen and (max-width:500px){
    .most-populer{
        .about{
            .small-card{
                width: 45%;
    margin: 25px 0;
            }
        }
    }
    footer{
        .four-section{
            .list{
                width: 45%;
                .app{
                    .android{
                        width: 60%;
                        margin: 10px 0;
                    }
                    .apple{
                        width: 60%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:400px) {
   
    nav{
        .icon{
            button{

                padding-right: 10px;
            }
            p{
                a{
                    padding: 5px;
                }
                span{
                    left: -12px;
                }
            }
        }
    }
    .products{
        .product-img{
            .card{
                width: 65%;
                padding: 20px 0;
            }
        }
    }
    .most-populer{
        .populer-section{
            .card{
                width: 45%;
                padding: 20px 0;
            }
        }
        .about{
            .small-card{
                width: 45%;
                margin: 10px 0;
            }
        }
    }
    .tranding-products{
        .first{
            .card{
                width: 45%;
                padding: 20px 0;
            }
        }
        .second{
            .card{
                width: 45%;
                padding: 20px 0;
            }
        }
    }
    .journal-section{
        .journal{
            .card{
                width: 65%;
                padding: 20px 0;
            }
        }
    }
    .followers-section{
        .wrapper{
            .card{
                width: 45%;
                margin: 20px 0;
            }
        }
    }
    footer{
        .four-section{
            .list{
                width: 65%;
                padding: 20px 0;
                .app{
                    .android{
                        width: 55%;
                        margin: 5px;
                    }
                    .apple{
                        width: 55%;
                        margin: 5px;
                    }
                }
            }
        }
    }
}