* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}
nav h1 {
  font-size: 3rem;
  padding: 20px 0;
}
nav h1 span {
  color: #ff5353;
  font-size: 5rem;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav ul li a {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 35px 15px;
  transition: all 0.3s ease-in-out;
}
nav .icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav .icon p span {
  background-color: #ff5353;
  padding: 3px;
  font-size: 0.8rem;
  border-radius: 50%;
  color: #fff;
  position: relative;
  top: -13px;
  left: -22px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .icon p a {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
nav .icon p a .one {
  transition-delay: 0.2s;
}
nav .icon p a .two {
  transition-delay: 0.3s;
}
nav .icon button {
  display: none;
}
nav .icon a:hover,
nav ul li a:hover {
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}

.banner {
  background-image: url(../img/bg-1.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.banner .banner-text {
  width: 50%;
  text-align: center;
  position: relative;
  top: 120px;
  left: 150px;
}
.banner .banner-text span {
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2.8px;
  color: #565656;
}
.banner .banner-text h1 {
  font-size: 5.8rem;
  padding: 0 6%;
  line-height: 70px;
  font-weight: 500;
  margin: 35px 0;
}
.banner .banner-text a {
  background-color: #ff5353;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.banner .banner-text a:hover {
  background-color: #fff;
  color: black;
  transition: all 0.3s ease-in-out;
}
.banner .banner-img {
  width: 50%;
}
.banner .banner-img img {
  width: 95%;
  height: 100%;
}

.products {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.products h1 {
  font-size: 3.5rem;
  padding: 40px 0;
}
.products .product-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products .product-img .card {
  width: 30%;
  padding: 30px 0;
}
.products .product-img .card .card-img img {
  width: 100%;
}
.products .product-img .card .card-img a {
  opacity: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  top: -85px;
  color: black;
  font-size: 1.6rem;
  padding: 15px;
  width: 10px;
  margin: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.products .product-img .card .card-img a:hover {
  background-color: #ff5353;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.products .product-img .card .card-img a:nth-child(2) {
  transition-delay: 0.06s;
}
.products .product-img .card .card-img a:nth-child(3) {
  transition-delay: 0.12s;
}
.products .product-img .card p {
  padding: 5px 0;
}
.products .product-img .card p a {
  font-size: 1.5rem;
  color: #888888;
}
.products .product-img .card .star {
  color: #ff5353;
  font-size: 1.3rem;
}
.products .product-img .card h1 {
  font-size: 2rem;
  padding: 10px;
}
.products .product-img .card:hover a {
  opacity: 1;
  top: -95px;
}

.second-banner {
  width: 100%;
  background-color: #eae2d8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.second-banner .text {
  width: 50%;
  text-align: center;
  position: relative;
  left: 100px;
}
.second-banner .text span {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2.8px;
}
.second-banner .text h1 {
  font-size: 2.5rem;
  line-height: 70px;
  font-weight: 300;
  margin: 35px 0;
}
.second-banner .text a {
  background-color: #ff5353;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.second-banner .text a:hover {
  background-color: #fff;
  color: black;
  transition: all 0.3s ease-in-out;
}
.second-banner .banner-img {
  width: 50%;
}
.second-banner .banner-img img {
  width: 95%;
  position: relative;
  top: 3px;
}

.most-populer {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.most-populer h1 {
  font-size: 3.5rem;
  padding: 40px 0;
}
.most-populer .populer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.most-populer .populer-section .card {
  width: 23%;
  padding: 30px 0;
}
.most-populer .populer-section .card .card-img img {
  width: 100%;
}
.most-populer .populer-section .card .card-img a {
  opacity: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  top: -85px;
  color: black;
  font-size: 1.6rem;
  padding: 15px;
  width: 10px;
  margin: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.most-populer .populer-section .card .card-img a:hover {
  background-color: #ff5353;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.most-populer .populer-section .card .card-img a:nth-child(2) {
  transition-delay: 0.06s;
}
.most-populer .populer-section .card .card-img a:nth-child(3) {
  transition-delay: 0.12s;
}
.most-populer .populer-section .card p {
  padding: 5px 0;
}
.most-populer .populer-section .card p a {
  font-size: 1.5rem;
  color: #888888;
}
.most-populer .populer-section .card .star {
  color: #ff5353;
  font-size: 1.3rem;
}
.most-populer .populer-section .card h1 {
  font-size: 2rem;
  padding: 10px;
}
.most-populer .populer-section .card:hover a {
  opacity: 1;
  top: -95px;
}
.most-populer .about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.most-populer .about .small-card {
  width: 23%;
  border: 2px solid rgba(195, 195, 195, 0.452);
  padding: 25px;
  transition: all 0.2s ease-in-out;
}
.most-populer .about .small-card h1 {
  font-size: 1.5rem;
  padding: 20px 0;
}
.most-populer .about .small-card p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #888888;
}
.most-populer .about .small-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in-out;
}

.tranding-products {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.tranding-products h1 {
  font-size: 3.5rem;
  padding: 40px 0;
}
.tranding-products .first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tranding-products .first .card {
  width: 23%;
  padding: 30px 0;
}
.tranding-products .first .card .card-img img {
  width: 100%;
}
.tranding-products .first .card .card-img a {
  opacity: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  top: -85px;
  color: black;
  font-size: 1.6rem;
  padding: 15px;
  width: 10px;
  margin: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.tranding-products .first .card .card-img a:hover {
  background-color: #ff5353;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.tranding-products .first .card .card-img a:nth-child(2) {
  transition-delay: 0.06s;
}
.tranding-products .first .card .card-img a:nth-child(3) {
  transition-delay: 0.12s;
}
.tranding-products .first .card p {
  padding: 5px 0;
}
.tranding-products .first .card p a {
  font-size: 1.5rem;
  color: #888888;
}
.tranding-products .first .card .star {
  color: #ff5353;
  font-size: 1.3rem;
}
.tranding-products .first .card h1 {
  font-size: 2rem;
  padding: 10px;
}
.tranding-products .first .card:hover a {
  opacity: 1;
  top: -95px;
}

.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.second .card {
  width: 23%;
  padding: 30px 0;
}
.second .card .card-img img {
  width: 100%;
}
.second .card .card-img a {
  opacity: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  top: -85px;
  color: black;
  font-size: 1.6rem;
  padding: 15px;
  width: 10px;
  margin: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.second .card .card-img a:hover {
  background-color: #ff5353;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.second .card .card-img a:nth-child(2) {
  transition-delay: 0.06s;
}
.second .card .card-img a:nth-child(3) {
  transition-delay: 0.12s;
}
.second .card p {
  padding: 5px 0;
}
.second .card p a {
  font-size: 1.5rem;
  color: #888888;
}
.second .card .star {
  color: #ff5353;
  font-size: 1.3rem;
}
.second .card h1 {
  font-size: 2rem;
  padding: 10px;
}
.second .card:hover a {
  opacity: 1;
  top: -95px;
}

.journal-section {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.journal-section h1 {
  font-size: 3.5rem;
  padding: 40px 0;
}
.journal-section .journal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.journal-section .journal .card {
  width: 30%;
}
.journal-section .journal .card img {
  width: 100%;
}
.journal-section .journal .card .content {
  text-align: left;
  padding: 30px 0;
}
.journal-section .journal .card .content a span {
  color: #888888;
  padding: 10px 0;
  margin-left: 20px;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}
.journal-section .journal .card .content a span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 6px;
  background-color: #ff5353;
  margin-top: 5px;
  margin-left: -20px;
  border-radius: 2px;
}
.journal-section .journal .card .content a span:hover {
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}
.journal-section .journal .card .content h1 {
  font-size: 2rem;
  color: black;
  padding: 15px 0;
  line-height: 30px;
  border-bottom: 1px solid #888888;
}
.journal-section .journal .card .content h1:hover {
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}
.journal-section .journal .card .content a p {
  color: #888888;
  display: inline;
  font-size: 1.4rem;
  position: relative;
  top: 15px;
  padding: 10px 25px 15px 0;
}
.journal-section .journal .card .content a p i {
  padding-right: 10px;
}
.journal-section .journal .card .content a p:hover {
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}

.followers-section {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.followers-section h1 {
  font-size: 3.5rem;
  padding: 40px 0;
}
.followers-section .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.followers-section .wrapper .card {
  width: 23%;
  position: relative;
  overflow: hidden;
}
.followers-section .wrapper .card img {
  width: 100%;
  height: 100%;
}
.followers-section .wrapper .card span {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-size: 4rem;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(255, 83, 83, 0.7490196078);
  transition: all 0.2s ease-in-out;
  transform: translatey(10%);
}
.followers-section .wrapper .card:hover span {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: translatey(0);
}

footer {
  width: 100%;
  background-color: #eae2d8;
  text-align: center;
}
footer .four-section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3019607843);
}
footer .four-section .list {
  width: 33%;
}
footer .four-section .list h1 {
  text-align: left;
  font-size: 1.5rem;
  padding: 40px 0;
}
footer .four-section .list p {
  text-align: left;
  padding: 0;
  color: none;
}
footer .four-section .list p a {
  color: #888888;
  font-size: 1.5rem;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list p a:hover {
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3019607843);
  padding-bottom: 30px;
}
footer .four-section .list .app .android {
  width: 49%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android .fa {
  font-size: 2rem;
  color: #ff5353;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android p {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android p span {
  font-weight: 400;
  font-size: 1rem;
  color: black;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android:hover {
  background-color: #ff5353;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android:hover .fa {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android:hover p {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .app .android:hover p span {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
footer .four-section .list .app .apple {
  width: 49%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff5353;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
}
footer .four-section .list .app .apple .fa {
  font-size: 2rem;
}
footer .four-section .list .app .apple p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
footer .four-section .list .app .apple p span {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
footer .four-section .list .social {
  text-align: left;
}
footer .four-section .list .social h1 {
  padding: 15px 0;
}
footer .four-section .list .social a {
  background-color: #fff;
  color: black;
  font-size: 2rem;
  display: inline-block;
  width: 13%;
  padding: 7px 0;
  text-align: center;
  margin: 20px 5px;
  transition: all 0.3s ease-in-out;
}
footer .four-section .list .social a:hover {
  color: #fff;
  background-color: #ff5353;
  transition: all 0.3s ease-in-out;
}
footer p {
  color: #888888;
  font-size: 1.5rem;
  padding: 20px 0;
}
footer p span {
  font-size: 1.5rem;
  color: #ff5353;
}

@media only screen and (max-width: 800px) {
  nav h1 {
    padding: 20px;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 85%;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 40vh;
    z-index: 1;
  }
  nav ul li {
    padding: 15px 10px;
  }
  nav ul li a {
    padding: 0;
  }
  nav .icon button {
    display: block;
    border: none;
    background: none;
    outline: none;
    z-index: 2;
  }
  nav .icon button .fa {
    font-size: 2.5rem;
  }
  nav .icon button .fa-times {
    display: none;
  }
  nav .icon button .fa-times ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 65px;
    background-color: #ffe8e5;
    width: 32%;
    height: 35vh;
    z-index: 1;
  }
  nav .icon button .fa-times ul li {
    padding: 10px 0;
  }
  nav .icon button .fa-times button {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    outline: none;
    z-index: 2;
  }
  nav .icon button .fa-times button .fa {
    font-size: 2.5rem;
  }
  nav .icon button .fa-times button .fa-times {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner .banner-text {
    width: 100%;
    margin: 50px 0;
    top: 0;
    left: 0;
  }
  .banner .banner-text h1 {
    font-size: 5rem;
    padding: 0 10%;
    line-height: normal;
    margin: 25px 0;
  }
  .banner .banner-img img {
    width: 100%;
  }
  .products .product-img {
    justify-content: space-around;
  }
  .second-banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .second-banner .text {
    width: 100%;
    margin: 50px 0;
    top: 0;
    left: 0;
  }
  .second-banner .text h1 {
    padding: 0 10%;
    line-height: normal;
    margin: 25px 0;
  }
  .second-banner .banner-img img {
    width: 100%;
  }
  .most-populer .populer-section {
    justify-content: space-around;
  }
  .most-populer .about {
    justify-content: space-around;
  }
  .tranding-products .first {
    justify-content: space-around;
  }
  .tranding-products .second {
    justify-content: space-around;
  }
  .journal-section .journal {
    justify-content: space-around;
  }
  .followers-section .wrapper {
    justify-content: space-around;
  }
  footer .four-section {
    justify-content: space-around;
  }
  footer .four-section .list {
    width: 30%;
  }
}
@media only screen and (max-width: 400px) {
  nav .icon button {
    padding-right: 10px;
  }
  nav .icon p a {
    padding: 5px;
  }
  nav .icon p span {
    left: -12px;
  }
  .products .product-img .card {
    width: 65%;
    padding: 20px 0;
  }
  .most-populer .populer-section .card {
    width: 45%;
    padding: 20px 0;
  }
  .most-populer .about .small-card {
    width: 45%;
    margin: 10px 0;
  }
  .tranding-products .first .card {
    width: 45%;
    padding: 20px 0;
  }
  .tranding-products .second .card {
    width: 45%;
    padding: 20px 0;
  }
  .journal-section .journal .card {
    width: 65%;
    padding: 20px 0;
  }
  .followers-section .wrapper .card {
    width: 45%;
    padding: 20px 0;
  }
  footer .four-section .list {
    width: 65%;
    padding: 20px 0;
  }
}/*# sourceMappingURL=style.css.map */